.textAlign-left {
  text-align: left;
}

.textAlign-justify {
  text-align: justify;
}

.tabAlignAux {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 80px;
}

.tabAlign {
  position: relative;
  width: 100%;
}
.textAlign-left {
  text-align: left;
}
